*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
*::selection{
    color: white;
    background-color: #000;
}

#main{
    width: 100%;
    background-color: white;
}

#home{
    width: 100%;
    min-height: 100vh;
}

#nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   padding: 30px 50px;  
}

#nav img{
    width: 95px;
}

#nav #right{
    display: flex;
    align-items: center;
    gap: 30px;
}

#nav a{
    text-decoration: none;
    font-weight: 550;
    color: black;
    font-size: 1.1vw;
    letter-spacing: -1px ;
    
}

#nav i{
   
   margin-top: 3px;
}  

#home #homemain{
   width: 100%;
   padding: 12vw 11vw; 
}

#homemain h1{
    font-weight: 400;
    letter-spacing: -.1vw;
    font-size: 2vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.headings{
    display: flex;
    gap: 40px;
}

#homemain .headings h1:hover{
      color: black;
}

#homemain .headings h1{
     
    color: transparent;
    -webkit-text-stroke: 1px #000;
     font-size: 7vw;
     font-weight: 900;
     line-height: 1;
     letter-spacing: -8px;
     
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#homelast{
    padding: 3vw 11vw;
}
#homelast p{
    width: 38%;
    font-size: 1.6vw;
    font-weight: 500;
    letter-spacing: -.08;


}

#homelast p::selection{
    color: white;
    background-color: #000;
}


#featured{
    padding: 9vw 11vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fheading>h1{
    line-height:3.5vw ;
    font-size: 4vw;
    font-weight: 400;
    
}

.fheading>h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

#fimg{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin-top: 5vw;
    
}

#fright{
    display: flex;
    justify-items: center;
    justify-content: flex-end;
    width: 45%;
    height: inherit;
    
    
    
}   


#fleft{
    overflow: auto;
    width: 45%;
    height: inherit;
    
}

.leftelem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
   
}

.leftelem h1{
    font-size: 2.5vw;
    line-height: 1;
    font-weight: 300;
    text-transform: capitalize;
    margin: 1.5vw 0;
}
.leftelem h3{
    font-size: 1.3vw;
    font-weight: 450;
}
.leftelem h4{
    opacity: .5 ;
}
#fright .img{
    width: 90%;
    height: 85%;
    margin-top: 15%;
   
    overflow: hidden;
    object-fit: cover;
}

.btndiv{
    display: flex;
    align-items: center;
    justify-content: center;

}

.btndiv button{
    padding: 1.3vw 2.5vw;
    border-radius: 100px;
    border: 2px solid darkgray;
    background-color: white;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 15px;
}
#dev{
    width: 100%;
    padding: 5vw 11vw;
}
#dev h1{
   font-size: 3.8vw;
   font-weight: 400;
   width: 40%; 
   line-height: 1;
}

#dev p{
    font-size:1.5vw;
    font-weight: 200;
    margin-top: 3vw;
    letter-spacing: -.5px;
    width: 40%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#slides{
    padding: 3vw 7vw;
    display: flex;
    justify-content: space-between;
}

.slide{
    width: 30%;
    
}

.slide .imgs{
    width: 320px;
    height: 270px;
    overflow: hidden;
    border-radius: 20px;
    
}
.slide .imgs img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.slide .tag{
    width: fit-content;
    border-radius: 100px;
    padding: 10px 22px;
    background-color: gray;
    margin: 20px;
}
.slide h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10x;
}

#slides2{
    padding: 3vw 11vw;
    display: flex;
    justify-content: space-between;
    background-color:beige;
    
}
.lastimg{
    width: 20%;
}

.lastimg .img4{
    width: 290px;
    height: 270px;
    overflow: hidden;
    border-radius: 10px;
}

.lastimg .img4 img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.lastimg .tag2{
    width: fit-content;
    border-radius: 100px;
    padding: 10px 22px;
    background-color: gray;
    margin: 20px;
    align-items: center;
}
.lastimg h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#last{
    display: flex;
    padding: 2vw 11vw;
    font-size: 20px;
    width: 40%;

}